PORT=3000
NODE_ENV=development

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=8h

ADMIN_USER=admin
ADMIN_PASSWORD=admin123
GESTOR_USER=gestor
GESTOR_PASSWORD=admin123
ALLOW_STATIC_LOGIN=false

# APIs externas de los aplicativos existentes
ONG_ANTIGUA_API_URL=http://localhost:3000/api
ONG_NUEVA_API_URL=http://localhost:3001/api
